body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:120px;
  width:317px;
  height:17px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:17px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:32px;
  top:145px;
  width:320px;
  height:38px;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:47px;
  top:155px;
  width:13px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:32px;
  top:183px;
  width:320px;
  height:503px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:503px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:503px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:503px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:25px;
  top:571px;
  width:265px;
  height:150px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:150px;
}
#u11 {
  position:absolute;
  left:2px;
  top:67px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:10px;
  width:340px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:40px;
  width:310px;
  height:48px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:48px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:108px;
  width:340px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:138px;
  width:310px;
  height:16px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:177px;
  width:340px;
  height:20px;
  font-size:18px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:207px;
  width:310px;
  height:16px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:246px;
  width:340px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:278px;
  width:310px;
  height:16px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:316px;
  width:340px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:396px;
  width:340px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:344px;
  width:310px;
  height:32px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:10px;
  top:426px;
  width:310px;
  height:32px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:481px;
  width:340px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:10px;
  top:513px;
  width:310px;
  height:48px;
  color:#000000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:48px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
