body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:120px;
  width:317px;
  height:17px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:17px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:32px;
  top:145px;
  width:320px;
  height:38px;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:47px;
  top:155px;
  width:13px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:32px;
  top:183px;
  width:320px;
  height:502px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:502px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:502px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:502px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:141px;
  top:40px;
  width:119px;
  height:40px;
  font-size:18px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:115px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:141px;
  top:114px;
  width:109px;
  height:44px;
  font-size:18px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:141px;
  top:153px;
  width:159px;
  height:40px;
  font-size:18px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:155px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:141px;
  top:247px;
  width:119px;
  height:40px;
  font-size:18px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:115px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:141px;
  top:329px;
  width:129px;
  height:31px;
  font-size:18px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:141px;
  top:360px;
  width:149px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:141px;
  top:10px;
  width:119px;
  height:30px;
  font-size:18px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:115px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:141px;
  top:212px;
  width:129px;
  height:32px;
  font-size:18px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:141px;
  top:78px;
  width:209px;
  height:40px;
  font-size:18px;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-2px;
  width:205px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:141px;
  top:287px;
  width:219px;
  height:40px;
  font-size:18px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-2px;
  width:215px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:-45px;
  top:192px;
  width:320px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u31 {
  position:absolute;
  left:141px;
  top:435px;
  width:119px;
  height:40px;
  font-size:18px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:115px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:141px;
  top:521px;
  width:129px;
  height:37px;
  font-size:18px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:141px;
  top:563px;
  width:149px;
  height:40px;
  font-size:18px;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:9px;
  width:145px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:141px;
  top:400px;
  width:129px;
  height:32px;
  font-size:18px;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:141px;
  top:475px;
  width:219px;
  height:40px;
  font-size:18px;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-2px;
  width:215px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:-40px;
  top:390px;
  width:320px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u42 {
  position:absolute;
  left:1px;
  top:600px;
  width:1px;
  height:162px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:162px;
}
#u43 {
  position:absolute;
  left:2px;
  top:73px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:7px;
  top:17px;
  width:124px;
  height:165px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:165px;
}
#u45 {
  position:absolute;
  left:2px;
  top:74px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:7px;
  top:212px;
  width:124px;
  height:165px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:165px;
}
#u47 {
  position:absolute;
  left:2px;
  top:74px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:7px;
  top:410px;
  width:124px;
  height:165px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:165px;
}
#u49 {
  position:absolute;
  left:2px;
  top:74px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
