body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:42px;
  top:126px;
  width:317px;
  height:17px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:17px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:42px;
  top:181px;
  width:320px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u5 {
  position:absolute;
  left:42px;
  top:155px;
  width:320px;
  height:38px;
  font-size:20px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:60px;
  top:163px;
  width:13px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u8 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:42px;
  top:193px;
  width:320px;
  height:503px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:503px;
}
#u10 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:42px;
  top:193px;
  width:320px;
  height:507px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:495px;
  overflow:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:495px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:90px;
  top:30px;
  width:190px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u13_img.selected {
  left:-5px;
  top:-5px;
  width:200px;
  height:50px;
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:91px;
  top:31px;
  width:188px;
  height:38px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#009DDA;
}
#u15_input:disabled {
  color:grayText;
}
#u16 {
  position:absolute;
  left:44px;
  top:38px;
  width:33px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:3px;
  width:33px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:90px;
  top:92px;
  width:191px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
}
#u18_img.selected {
  left:-5px;
  top:-5px;
  width:201px;
  height:50px;
}
#u18.selected {
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:91px;
  top:93px;
  width:189px;
  height:38px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#009DDA;
}
#u20_input:disabled {
  color:grayText;
}
#u21 {
  position:absolute;
  left:41px;
  top:99px;
  width:33px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u22 {
  position:absolute;
  left:0px;
  top:3px;
  width:33px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:90px;
  top:154px;
  width:191px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:40px;
}
#u23_img.selected {
  left:-5px;
  top:-5px;
  width:201px;
  height:50px;
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:91px;
  top:155px;
  width:189px;
  height:38px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#009DDA;
}
#u25_input:disabled {
  color:grayText;
}
#u26 {
  position:absolute;
  left:24px;
  top:161px;
  width:49px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:3px;
  width:49px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:12px;
  top:215px;
  width:65px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
}
#u29 {
  position:absolute;
  left:0px;
  top:3px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:90px;
  top:210px;
  width:70px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u30_img.selected {
  left:-5px;
  top:-5px;
  width:80px;
  height:50px;
}
#u30.selected {
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:100px;
  top:218px;
  width:49px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#009DDA;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33 {
  position:absolute;
  left:176px;
  top:210px;
  width:40px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u33_img.selected {
  left:-5px;
  top:-5px;
  width:50px;
  height:50px;
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:181px;
  top:218px;
  width:28px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#009DDA;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36 {
  position:absolute;
  left:160px;
  top:218px;
  width:17px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u37 {
  position:absolute;
  left:0px;
  top:3px;
  width:17px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:217px;
  top:218px;
  width:17px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u39 {
  position:absolute;
  left:0px;
  top:3px;
  width:17px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:265px;
  top:218px;
  width:12px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:233px;
  top:210px;
  width:30px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u42_img.selected {
  left:-5px;
  top:-5px;
  width:40px;
  height:50px;
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:237px;
  top:218px;
  width:21px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#009DDA;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u45 {
  position:absolute;
  left:12px;
  top:265px;
  width:33px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u46 {
  position:absolute;
  left:0px;
  top:3px;
  width:33px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:19px;
  top:290px;
  width:284px;
  height:170px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:170px;
}
#u47_img.selected {
  left:-5px;
  top:-5px;
  width:294px;
  height:180px;
}
#u47.selected {
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:22px;
  top:300px;
  width:278px;
  height:30px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#009DDA;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u50 {
  position:absolute;
  left:19px;
  top:480px;
  width:281px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u50_img.disabled {
}
#u50.disabled {
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:277px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:51px;
  top:99px;
  width:220px;
  height:160px;
  font-size:16px;
  color:#009DDA;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:160px;
}
#u53 {
  position:absolute;
  left:2px;
  top:61px;
  width:216px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:149px;
  top:114px;
  width:24px;
  height:27px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:142px;
  top:212px;
  width:31px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1px;
  top:540px;
  width:1px;
  height:140px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:140px;
}
#u59 {
  position:absolute;
  left:2px;
  top:62px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
